* {
	font-family: AvenirNextLTPro;
}

@font-face {
    font-family: AvenirNextLTPro;
    src: url("fonts/AvenirNextLTPro-Regular.otf") format("opentype");
}

body {
	background-color: #eceef1;
	padding-top: 10px;
}

main {
	display: block;
}

.nav {
	width: 100%
}

#top-right {
	position: absolute;
	right: 55px;
}

#acc-exists {
	right: 5px;
	width: 210px !important;
}

#signin-btn {
	padding-right: 3px;
	font-size: 12px !important;
	max-width: 100px;
}

#white-lock {
	height: 13px;
	width: 10px;
}

.small-text {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
}

#logos {
	margin: 0 auto;
	padding-top: 60px;
}

#intuit {
	padding-top: 5px;
	padding-bottom: 20px;
}

.form-container {
	background-color: white;
	margin: 0 auto;
	padding: 15px 30px;
	border: 1px solid rgb(199, 199, 199);
	border-bottom: none;
	width: 380px;
}

.form-header {
	color: #4c4c4c;
	font-size: 14px;
	margin-bottom: 1rem;
}

#forms {
	display: block; 
}

label {
	width: 100%;
}

.inputs-container {
	padding: 0;
}

.in-field {
	width: 100%;
	margin-bottom: 10px;
}

.phone {
	margin-bottom: 0;
}

.smallest-text {
	font-size: 10.5px;
}

#password {
	border: 1px solid rgb(170, 170, 170);
	background-size: 20px;
	background-position: right;
	background-repeat: no-repeat; 
 	background-image: url("https://www.materialui.co/materialIcons/action/lock_outline_grey_24x24.png");
}

.recaptcha {
	padding: 10px 35.48px;
	border-right: 1px solid rgb(199, 199, 199);
	border-bottom: 1px solid rgb(199, 199, 199);
	border-left: 1px solid rgb(199, 199, 199);
}

ul {
	padding-top: 2rem;
	list-style: none;
}

.nav-link {
	padding: 0.2rem;
}

.page-footer {
	font-size: 12px;
	color: #404040;
}

.footer-link {
	color: inherit;
}